tmp.txt
idea/resources/*.war
**/*.swp
**/.project
**/.settings
**/.classpath
atlassian-ide-plugin.xml
**/out
**/gradle.properties
tmp.config
.project
.settings
.classpath
.idea/
classes/
common/common.iml
idea/.gradle/
logmonitor.iml
web/web.iml

