<form name="configForm" ng-submit="saveConfig()" novalidate>
	<div>
		<!--
        ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }
        -->
		Project Name: <input type="text" name="projectName"
			ng-model="config.projectName" required>
	</div>
	<div>
		Log pattern: <input type="text" name="logPattern"
			ng-model="config.logPattern" required> see <a
			href="http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/PatternLayout.html">pattern
			description</a>
	</div>
	<div>

		<ul>
			<li ng-repeat="env in config.environments">
				<div environment name="env.name" env0="env" selection="$parent.selection"></div>
			</li>
		
			<li >
			<div  environment name="'Add new...'" selection="selection"></div>
			<!-- 
			TODO: angular, why??
				<div environment name="'Add new...'" env="createNewEnvironment()"></div>
				
				 -->
			</li>
		

		</ul>
	</div>

	<div>
		Matching patterns:<br />
		<ul>
			<li 
				ng-repeat="matcher in matchers | orderBy: weight">
				<div matcher name="matcher.name" matcher-obj="matcher"
				 selection="$parent.selection" 
				 levels="$parent.levels" environments="$parent.config.environments"
				 environment-matcher = "$parent.environmentMatcher"
				 ></div>
				</li>
			<li>
				<div matcher matcher-obj="newMatcher" name="'Add new...'" selection="selection"			
				environments="config.environments"
				levels="levels"
				environment-matcher = "environmentMatcher"
				></div>		
			</li>
		</ul>
	</div>
	<button type="submit" ng-disabled="configForm.$invalid || cantSave()">Save</button>
</form>
