<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>JerseyServlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	<display-name>Archetype Created Web Application</display-name>
	<listener>
		<listener-class>org.xendan.logmonitor.web.guice.GuiceServletConfig</listener-class>
	</listener>
	<filter>
		<filter-name>Guice Filter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Guice Filter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
</web-app>
