.newItem{
	font-weight:bold;
}

.messageGroup{
	font-weight:bold;
}

input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

input.ng-valid.ng-dirty {
	background-color: #78FA89;
}

.mandatory_label {
	font-weight: bold;
}